<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="admin_title" value="Peptech:admin panel" />
    <add key="title" value="PepTech Corporation" />
    <add key="DBPrefix" value="pep$tech$corp.Peptech_" />
    <add key="WebSitePath1" value="https://www.peptechcorp.com/" />
    <add key="WebSitePath" value="https://www.peptechcorp.com/" />
    <add key="ImageNotFound" value="~/images/image_not_available.gif" />
    <add key="FCKeditor:UserFilesPath" value="/UserFiles/" />
    <add key="paymentLoginID" value="699s5vkDGmER" />
    <add key="paymentTransID" value="88bG98hdVUBm97QF" />
  </appSettings>
  <connectionStrings>
    <!--<add name="dbConnect" connectionString="Data Source=208.118.241.8,1433;Initial Catalog=peptechcorp;User Id=pep$tech$corp;Password=wxyz2003" providerName="System.Data.SqlClient"/>-->
    <add name="dbConnect" connectionString="Data Source=sql81.media3.net;Initial Catalog=peptechcorp;User Id=pep$tech$corp;Password=4lL2j5WRa8*lFcz" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.1" />
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="401" redirect="error.aspx" />
      <error statusCode="403" redirect="error.aspx" />
      <error statusCode="404" redirect="error.aspx" />
    </customErrors>
    <siteMap>
      <providers>
        <add name="adminsitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/jmf92design/web.sitemap" />
      </providers>
    </siteMap>
    <httpRuntime executionTimeout="5100" maxRequestLength="100000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <machineKey validationKey="9D74D7251AF84AAEC0004AC218354ED9C3AD23D2CE1D4F08705A7D01E5302E8C525E88D4EB4D91019B9946B26EECCBADDE4C205583A260B3BBD795DE6734FB06" decryptionKey="3FF3E35200BAB982235D8E1FAAF97FA942F0E918C9FEF3888CB20FD345DCB9B7" validation="SHA1" decryption="AES" />
  </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SSL REdirect" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>